@model IEnumerable<Category>
@{
    ViewData["Title"] = "Index";
}

<partial name="_Notification" />

<div class="container-fuild mb-2">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Categories</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-action="Create" asp-controller="Category" class="btn btn-outline-primary">
                <i class="bi bi-plus-circle"></i>
                Create a new category
            </a>
        </div>

    </div>
</div>

<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>Category Name</th>
            <th>Display Order</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var category in Model)
        {
            <tr>
                <td>@category.Name</td>
                <td>@category.DisplayOrder</td>
                <td>
                    <div class="btn-group d-flex justify-content-center" role="group">
                        <a class="btn btn-success mx-2" asp-action="Update" asp-controller="Category" asp-route-id="@category.Id">
                            <i class="bi bi-pencil-square"></i>
                            Update
                        </a>
                        <a class="btn btn-warning mx-2" asp-action="Delete" asp-controller="Category" asp-route-id="@category.Id">
                            <i class="bi bi-trash"></i>
                            Delete
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
