@using Books.DataAcess.Repository
@using Microsoft.AspNetCore.Identity
@using Model.Utility
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject IUnitOfWork unit
@{
    var user = unit.UserRepo.GetFirstOrDefault(x => x.Id == UserManager.GetUserId(User));
    dynamic cartItemsQuantity = 0;

    if (SignInManager.IsSignedIn(User))
    {
        var totalItemCart = unit.ShoppingCartRepo.GetAllWithCondition(x => x.UserId == user.Id).Sum(x => x.Count);
        HttpContextAccessor.HttpContext.Session.SetInt32(SD.SessionCart, totalItemCart);
        cartItemsQuantity = HttpContextAccessor.HttpContext.Session.GetInt32(SD.SessionCart) > 99 ? "99++" : HttpContextAccessor.HttpContext.Session.GetInt32(SD.SessionCart);
    }
    else
    {
        HttpContextAccessor.HttpContext.Session.Clear();
    }
}
<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link  position-relative" asp-action="Index" asp-controller="Cart" asp-area="Customer">
                <i class="bi bi-cart"></i>
                <span class="text-decoration-none position-absolute top-75 start-100 translate-middle badge bg-secondary text-danger">
                    @cartItemsQuantity
                    <span class="visually-hidden">unread messages</span>
                </span>
            </a>
        </li>
        <li class="nav-item">
            <a id="manage" class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @user.Name!</a>
        </li>
        <li class="nav-item">
            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button id="logout" type="submit" class="nav-link btn btn-link">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
