@model IEnumerable<Product>
@{
    ViewData["Title"] = "Index";
}

<partial name="_Notification" />

<div class="container-fuild mb-2">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Products</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-action="Upsert" asp-controller="Product" class="btn btn-outline-primary">
                <i class="bi bi-plus-circle"></i>
                Create a new product
            </a>
        </div>

    </div>
</div>

<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>Title</th>
            <th>ISBN</th>
            <th>Price</th>
            <th>Author</th>
            <th>Category</th>
            <th>Functions</th>
        </tr>
    </thead>

    <tbody>
    </tbody>
</table>
