@model int

<div class="container">
    <div class="alert alert-success mt-5" role="alert">
        <h4 class="alert-heading d-flex justify-content-between">
            Well done!
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </h4>
        <p>
            Aww yeah, you successfully paid your order (Id: <b>@Model</b>). You can track your order at
            <a href="#" class="alert-link">here</a>
        </p>
        <hr>
        <p class="mb-0">Whenever you need to, be sure to use our service. Thank you!</p>
    </div>
</div>