@model IEnumerable<OrderHeader>
@{
    ViewData["Title"] = "Index";
    var status = Context.Request.Query["status"];
    var pending = "btn btn-outline-dark";
    var inProcess = "btn btn-outline-dark";
    var paymentPending = "btn btn-outline-dark";
    var approved = "btn btn-outline-dark";
    var shipped = "btn btn-outline-dark";
    var completed = "btn btn-outline-dark";
    var cancelled = "btn btn-outline-dark";
    var refunded = "btn btn-outline-dark";
    var all = "btn btn-outline-dark";

    switch (status)
    {
        case "pending":
            pending = "btn btn-dark";
            break;
        case "approved":
            approved = "btn btn-dark";
            break;
        case "inprocess":
            inProcess = "btn btn-dark";
            break;
        case "paymentpending":
            paymentPending = "btn btn-dark";
            break;
        case "shipped":
            shipped = "btn btn-dark";
            break;
        case "completed":
            completed = "btn btn-dark";
            break;
        case "cancelled":
            cancelled = "btn btn-dark";
            break;
        case "refunded":
            refunded = "btn btn-dark";
            break;
        default:
            all = "btn btn-dark";
            break;
    }
}

<div class="container-fuild my-5">
    <div class="btn-group d-flex justify-content-end" role="group">
        <div class="btn-group" role="group" aria-label="Basic outlined example">
            <a type="button" asp-action="Index" asp-controller="Order" class=@all>All</a>
            <a type="button" asp-action="Index" asp-controller="Order" asp-route-status="pending" class=@pending>1. Pending</a>
            <a type="button" asp-action="Index" asp-controller="Order" asp-route-status="approved" class=@approved>2. Approved</a>
            <a type="button" asp-action="Index" asp-controller="Order" asp-route-status="inprocess" class=@inProcess>3. In process</a>
            <a type="button" asp-action="Index" asp-controller="Order" asp-route-status="paymentpending" class=@paymentPending>4. Payment Pending</a>
            <a type="button" asp-action="Index" asp-controller="Order" asp-route-status="shipped" class=@shipped>5. Shipped</a>
            <a type="button" asp-action="Index" asp-controller="Order" asp-route-status="completed" class=@completed>6. Completed</a>
            <a type="button" asp-action="Index" asp-controller="Order" asp-route-status="cancelled" class=@cancelled>7. Cancelled</a>
            <a type="button" asp-action="Index" asp-controller="Order" asp-route-status="refunded" class=@refunded>8. Refuned</a>
        </div>
    </div>
    <div class="mt-3">
        <table id="dataTableAdmin" style="width:100%">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>City</th>
                    <th>Status</th>
                    <th>Date</th>
                    <th>Func</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section Scripts {
<script src="~/js/site.js"></script>
<script src="~/js/order_management.js"></script>
}

